.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-text-color);
  margin-right: 93px;
}

.logo__first-part {
  color: #2196f3;
}
